$main-font:'Sarabun', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Sarabun');

.accountable-content {
    // display: flex;
    font-family: "Sarabun", sans-serif;
    // justify-content: space-around;
    /* align-items: baseline; */
    box-sizing: border-box;
    padding-top: 9vh;
    z-index: -1;
    /* padding-left: 20vw; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.interests{
    display: flex !important;
    flex-wrap: wrap;
    // flex-direction: column;
    height: auto;
    width: auto;
    justify-content: center;
    padding-top: 14vh;

}

div.well{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



.goals{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

input{
    border: 1px solid black;
    width: 7vw;
}

button.btn.btn-default {
    font-family: "Sarabun", sans-serif;
    top: 6vh;
    // position: fixed;
    left: 85vh;
    padding: 14px;
}

.accountable-input{
    display: inline;
    padding-left: 38vw;
}



h3.popover-title{
    font-size: 20px;
    color: blue;
}

.user-display{
    position: absolute;
    top: 14vh;
    left: 4vh;
    height: 12vh;
    width: 8vw;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2vh;
    border: 1px solid black;
    font-family: $main-font;

}

.user-goals{
    border: 1px solid whitesmoke;
    font-family: $main-font;
    width: 62vh;
    border-radius: 5px;
    padding: 5px;
}

.user-interests{
    border: 1px solid whitesmoke;
    font-family: $main-font;
    width: 10vw;
    border-radius: 5px;
    padding: 5px;
    margin: 1vw;
    height: 23vh;
    display: flex;
    flex-direction: column;
}

.modal-btn{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    font-family: $main-font;
}

.interests-list{
    display: flex;
    flex-direction: column;
    padding: 3vh;
    position: fixed;
    left: -1vh;
    width: 47vh;
}

.goals-list{
    display: flex;
    flex-direction: column;
    padding: 10vh;
}

.message-btns{
    position: absolute;
    width: 14vh;
    bottom: 59px;
    z-index: 2;
}

div.progress {
    width: 551px;
    height: 2vh;
    position: absolute;
    top: 9vh;
    border: 1px solid black;
    left: 38vw;
    z-index: 1;
    display: inline;
}
