.live-chat{
    position: fixed;
    height: 300px;
    width: 174px;
    border: 2px solid black;
    background-color: white;
    margin: 10px;
    right: 5px;
    bottom: 5px;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 5vh;
    z-index: 1;

  
}

// hr{
//     position: fixed;
// }

.input-chat {
    position: fixed;
    height: 11vh;
    width: auto;
    margin-bottom: 23px;
    bottom: 14vh;
    border: none;
}

.chat-button{
    border-radius: 30px;
}

.live-chat-toggle{
    display: flex;
    // height: 30px;
}

.toggle-chat{
    position: fixed;
    width: 9vh;
    height: 9vh;
    right: 0;
    bottom: 0;
}

i{
    position: fixed;
    right: 10px;
    bottom: 15px;
    color:#B97A38;
}

.display-messages{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 69vh;
    right: 9vh;
}

// display: flex;
// position: absolute;
// flex-direction: row;
// width: 30px;
// /* width: 30px; */
// /* height: auto; */
// align-items: center;

// .toggle-chat{
//     height: 30px;
//     width: 30px;
// }
// .live-chat {
//     display: flex;
//     bottom: 0px;
//     flex-direction: column;
//     margin: 17px;
//     position: fixed;
//     right: 0px;
//     z-index: 9999;
//     height: 60%;
//     width: 40%;
// }

// .rcw-widget-container {
//     height: 58%;
//     width: 40%;
//     margin: 2%;
// }

