$main-font:'Sarabun', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Sarabun');

.skillshare-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $main-font;
    height: 100vh;
    width: 100vw;
    background-color:#FFFFFF;
    // font-size: 100px;
}

.all-skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    padding-top: 10vh;
    font-family: $main-font;

}

.skillshare-map{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    box-sizing: border-box;
    border: 20px;
    padding: 20px;
    font-family: $main-font;

}

.create-skillshare{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 270px;
    width: 500px;
    background-color:white;
    display: flex;
    flex-direction: column;
    font-family: $main-font;

}

.input{
    font-family: inherit;
    font-size: 12px;
    line-height: inherit;
    background-color: greenyellow;
    height: 8vh;
    width: 15vw;
    display: flex;
    font-family: $main-font;

}

.post-btn{
// font-family: inherit;
// font-size: 12px;
// line-height: inherit;
background-color: burlywood;
height: 8vh;
width: 15vw;
display: flex;
font-family: $main-font;
}

// .skills-img{
//     display: inline;
//     border-radius: 50%;
// }
.MuiGridListTile-tile-7{
    border-radius: 5px;
}

div.modal-content{
    position: absolute;
    height: 57vh;
    width: 84vh;
    right: 14vh;
    top: 21vh;
    background-color: white;
    color: black;
}

